/* цвет основного текста #757575 */
/* цвет заголовков #212121 */
/* белый цвет #FFFFFF */

/* цвет акцента #2196F3 */
/* цвет button hover героя #188CE8 */
/* цвет студии #000000 */
/* цвет фона героя и футтера #2F303A */
/* вторичный цвет фона #F5F4FA */
/* цвет фона карточек галереи #EEEEEE */
/* цвет контактов футера rgba(255, 255, 255, 0.6) */
/* цвет header border #ececec */
/* цвет градиента героя rgba(47, 48, 58, 0.4); */
/* цвет иконок #afb1b8 */
/* фон иконок футера rgba(255, 255, 255, 0.1); */
/* цвет фона works rgba(47, 48, 58, 0.8) */
/* цвет карточек в портфолеоrgba(33, 150, 243, 0.9) */
/* цвет фона backdrop rgba(0, 0, 0, 0.2); */
:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --logo-accent-color: #000000;
  --button-hover-color: #188ce8;
  --hero-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --gallery-border-color: #eeeeee;
  --header-border-color: #ececec;
  --background-image-color: rgba(47, 48, 58, 0.4);
  --icon-color: #afb1b8;
  --bg-footer-color: rgba(255, 255, 255, 0.1);
  --bg-works-color: rgba(47, 48, 58, 0.8);
  --bg-gallery-color: rgba(33, 150, 243, 0.9);
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
  --bg-backdrop-color: rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--primery-white-color);
  color: var(--primery-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* page-header */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Logo */

.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;

  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
}
.accent {
  color: var(--logo-accent-color);
}
/* page-header */
.page-header {
  border-bottom: 1px solid var(--header-border-color);
}

.header-group {
  display: flex;
  align-items: center;
}
/* site-nav */

.nav {
  display: flex;
  align-items: center;
}
.site-nav {
  margin-left: 93px;
  display: flex;
}

.site-nav-item + .site-nav-item {
  margin-left: 50px;
}

.site-nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}
.site-nav-link.current {
  color: var(--accent-color);
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
  transition: color 250ms var(--transition-function);
}
.site-nav-link.current::after {
  content: " ";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* Contacts */

.contacts {
  margin-left: auto;
  display: flex;
}
.contacts-item + .contacts-item {
  margin-left: 50px;
}
.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}
.contacts-icon:hover {
  fill: var(--accent-color);
}

.contacts-link {
  display: inline-flex;
  align-items: center;
  color: var(--primery-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
  transition: color 250ms var(--transition-function);
}

/* Hero */
.hero {
  max-width: 1600px;

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, var(--background-image-color), var(--background-image-color)),
    url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hero-background-color);
}
.hero-title {
  margin-bottom: 30px;

  color: var(--primery-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-transform: uppercase;
}
/* Hero button */
.hero-button {
  padding: 10px 32px;
  border: transparent;
  min-width: 200px;
  border-radius: 4px;

  color: var(--primery-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--primery-white-color);
  background-color: var(--button-hover-color);
  transition: background-color 250ms var(--transition-function), color 250ms var(--transition-function);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-backdrop-color);
  opacity: 1;
  transition: opacity 250ms var(--transition-function);
  z-index: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: scale(1) translate(-50%, -50%);
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  background-color: var(--primery-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(0.9) translate(-50%, -50%);
  transition: transform 250ms var(--transition-function);
  visibility: visible;
}
.modal-close {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primery-white-color);
  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;
  padding: 0;
}
/* Section */

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* Features */

.features {
  display: flex;
}
.features-group {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--team-background-color);
  margin-bottom: 30px;
  border-radius: 4px;
}
.features-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.features-item:last-child {
  margin-right: 0px;
}

.features-title {
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
}
/* works */
.works-section {
  padding-top: 0;
}
.works {
  display: flex;
}
.works-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.works-item:last-child {
  margin-right: 0;
}
.works-thumb {
  position: relative;
}
.works-action {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: var(--bg-works-color);
}
.works-action-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primery-white-color);
  padding-top: 27px;
}

/* Наша команда */

.team-section {
  max-width: 1600px;
  height: 708px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--team-background-color);
}
.team {
  display: flex;
}

.team-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:last-child {
  margin-right: 0px;
}
.team-titel-text {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primery-white-color);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  color: var(--title-text-color);

  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}
.social-group {
  display: flex;
  justify-content: center;
}
.social-group-item + .social-group-item {
  margin-left: 10px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
}
.social-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  transition: background-color 250ms var(--transition-function), color 250ms var(--transition-function);
}

/* Постоянные клиенты */

.clients {
  display: flex;
}

.clients-item {
  width: calc((100% - 150px) / 6);
  color: var(--icon-color);
}
.clients-item + .clients-item {
  margin-left: 30px;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  transition: border 250ms var(--transition-function), color 250ms var(--transition-function);
}
.clients-icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

/* Footer */
.footer {
  max-width: 1600px;
  height: 252px;
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
.footer-group {
  display: flex;
  align-items: baseline;
}
.footer-accent {
  color: var(--primery-white-color);
}
.footer-link {
  color: var(--footer-contacts-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
  transition: color 250ms var(--transition-function);
}
.footer-color {
  color: var(--primery-white-color);
}
.footer-logo-link {
  display: block;
  margin-bottom: 20px;
}
.address-item {
  margin-bottom: 9px;
}
.address-item:last-child {
  margin-bottom: 0;
}

/* Присоединяйтесь */
.footer-text {
  font-size: 14px;
  line-height: 1.14;
  color: var(--primery-white-color);
  text-transform: uppercase;

  margin-bottom: 20px;
}
.social-group {
  display: flex;
  justify-content: center;
}

.social-group-item + .social-group-item {
  margin-left: 10px;
}
.address {
  margin-right: 70px;
}
.bg-footer-color {
  background-color: var(--bg-footer-color);
  color: var(--primery-white-color);
}

.social-footer-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  transition: background-color 250ms var(--transition-function), color 250ms var(--transition-function);
}
/* Портфолио */

/* Filter */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item + .filter-item {
  margin-left: 8px;
}
.filter-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;

  color: var(--title-text-color);
  background-color: var(--team-background-color);

  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms var(--transition-function), background-color 250ms var(--transition-function),
    box-shadow 250ms var(--transition-function);
}
/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery-item {
  width: calc((100% - 60px) / 3);
  /* width: 370px; */
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.gallery-item:nth-child(3n) {
  margin-right: 0;
}
.gallery-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.gallery-link {
  display: block;
  text-decoration: none;
}
.action-text {
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primery-white-color);
}
.gallery-thumb {
  position: relative;
  overflow: hidden;
}
.gallery-action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--bg-gallery-color);
  transform: translateY(100%);
  transition: transform 250ms var(--transition-function);
}

.gallery-link:hover .gallery-action,
.gallery-link:focus .gallery-action {
  transform: translateY(0);
  transition: transform 250ms var(--transition-function);
}

.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms var(--transition-function);
}
.gallery-title-text {
  padding: 20px 24px;
  background-color: var(--primery-white-color);
  border: 1px solid var(--gallery-border-color);
  box-sizing: border-box;
}
.gallery-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.gallery-text {
  color: var(--primery-text-color);

  font-size: 16px;
  line-height: 1.87;
}
